<body>
  <form [formGroup]="createProjectForm">
    <div class="center">
      <p style="font-size: 48px">CREATE PROJECT</p>
       
        <div class="txt_field">
          <h1 style="font-size:32px">Project Name</h1>
          <input type="text" [formControlName]="'project-name'" class="form-control" required>
        </div>

   
  
        <!--  create btn  -->
        <input (click)="createProject()" type="submit" value="CONTINUE">
        <span></span>

        <!-- empty field Error message -->
        <div class="Erorr" [style.visibility]="efvisibility" >
          There is at least one Empty field in the form!
        </div>

    </div>
  </form>
</body>