<div class="sidenav">
    <div class="sideProjectName" >{{projectName}}</div>
    <button class="sidebutton" (click)="navigateToBacklog()">B A C K L O G</button>
    <button class="sidebutton" (click)="navigateToIssues()">I S S U E S</button>
    <button class="sidebutton" (click)="navigateToSprint()">S P R I N T </button>
    <button class="ActiveSidebutton" (click)="navigateToEpics()">E P I C S </button>
    <button class="sidebutton" (click)="navigateToMembers()">M E M B E R S</button>
    <div class="sideprojectsButton" (click)="navigateToProjects()"> PROJECTS </div>
</div>




<div class="box-container1">
    <div class="header">
        <div class="title" style="width: 3vw;margin-right: 1vw;">id</div>
        <div class="title" style="width: 5vw;margin-right: 1vw;">Title</div>
        <div class="title" style="width: 15vw;margin-right: 1vw;">Description</div>
        <div class="title" style="width: 6vw;margin-right: 1vw;">Man Hour</div>
        <div class="title" style="width: 10vw;margin-right: 1vw;">Creator</div>
        <div class="title" style="width: 10vw;margin-right: 1vw;">Assigned to</div>
        <div class="title" style="width: 10vw;margin-right: 1vw;">Created At</div>
        <div class="title" style="width: 7vw;margin-right: 1vw;">Due</div>
        <div class="title" style="width: 7vw;margin-right: 1vw;">Ended at</div>
    </div>

    <div class="rectangle1">
        <div class="issue-box" *ngFor="let item of epics" (click) = "navigateToSubIssues(item.id,item.title,item.endedAt)" >
            <div class="item" style="width: 3vw;margin-right: 1vw;">{{item.id}}</div>
            <div class="item" style="width: 5vw;margin-right: 1vw;">{{item.title}}</div>
            <div class="item" style="width: 15vw;margin-right: 1vw;">{{item.description}}</div>
            <div class="item" style="width: 6vw;margin-right: 1vw;">{{item.manHour}}</div>
            <div class="item" style="width: 10vw;margin-right: 1vw;">{{item.creatorUsername}}</div>
            <div class="item" style="width: 10vw;margin-right: 2vw;">{{item.assignedTo}}</div>
            <div class="item" style="width: 10vw">{{getShortDate(item.createdAt)}}</div>
            <div class="item" style="width: 10vw;margin-right: 1vw;">{{getShortDate(item.plannedTo)}}</div>
            <div class="item" style="width: 6vw">{{getShortDate(item.endedAt)}}</div>
        </div>
    </div>
    <input type="submit" value="Delete Epic" style="margin-right: 25vw;" (click)="navigateToRemoveEpic()">
    <input type="submit" value="Add new Epic" (click)="navigateToAddEpic()">
</div>