<div>
    <div class="sidenav">
        <button class="sidebutton">B A C K L O G</button>
        <button class="sidebutton">I S S U E S</button>
        <button class="sidebutton">S P R I N T S</button>
        <button class="ActiveSidebutton">M E M B E R S</button>
    </div>

    <div class="rectangle1">

        <div class="rectangle3">
            ABOUT
        </div>
        <div style="margin-top: 20vh;" class="rectangle4">
            TITLE
        </div>
        <div style="margin-top: 30vh;" class="rectangle4">
            Email
        </div>
        <form [formGroup]="addMemberForm">
            <input  type="text" [formControlName]="'email'" style="margin-top: 20vh;" class="rectangle5" required>
            <input  type="text" [formControlName]="'email'" style="margin-top: 30vh;" class="rectangle5" required>
        </form>

        <input type="submit" value="Add Member">
    </div>


</div>