
<div class="center">
    <p style="font-size: 48px" >ENTER YOUR CODE</p>
    <form [formGroup]="fgmcForm" method="post">
      <div  class="txt_field">
        <input  type="text" [formControlName]="'confirmationCode'" class="form-control"  required>
      </div>


      <div class="txt_field">
        <h1 style="font-size:32px" >Enter password</h1>
        <input type="password"  [formControlName]="'password'" class="form-control" required>
      </div>

      <div class="txt_field">
          <h1 style="font-size:32px" >Confirm password</h1>
          <input type="password" [formControlName]="'passwordConfirm'"  required>
      </div>
        
      <input routerLink="" type="submit" value="BACK">
      
        <span>
          <input (click)="forgotMyPasswordConfirmation()" type="submit" value="RESET">
        </span>
    </form>

     <!-- Password not equal Erorr message -->
     <div class="Erorr" [style.visibility]="pnqvisibility" >
      Passwords are not equal!
    </div>

    <!-- empty field Error message -->
    <div class="Erorr" [style.visibility]="efvisibility" >
      There is at least one Empty field in the form!
    </div>

    <!-- general Error message -->
    <div class="Erorr" [style.visibility]="gvisibility" >
      Registration Failed! Please try again
    </div>

  </div>

