<div>
    <div class="sidenav">
        <div class="sideProjectName" >{{projectName}}</div>
        <button class="sidebutton" (click)="navigateToBacklog()">BACKLOG</button>
        <button class="sidebutton" (click)="navigateToIssues()">ISSUES</button>
        <button class="sidebutton" (click)="navigateToSprint()">SPRINT </button>
        <button class="ActiveSidebutton" (click)="navigateToEpics()">EPICS </button>
        <button class="sidebutton" (click)="navigateToMembers()">MEMBERS</button>
        <div class="sideprojectsButton" (click)="navigateToProjects()"> PROJECTS </div>
    </div>
    

    <div class="rectangle1">
        <div style="margin-top: 9vh;" class="rectangle4">
           Epic Id
        </div>
        <form [formGroup]="removeIssueForm">
            <input  type="text" [formControlName]="'id'" style="margin-top: 9vh;" class="rectangle5" required>
        </form>
        <div style="margin-left: 68vh;">
            <input type="submit" value="Delete" (click)="removeEpic()">
        </div>
        <div class="Erorr" [style.visibility]="gvisibility" >Error Accured, Try again</div>
    </div>
</div>