<div class="sidenav">
    <div class="sideProjectName" >{{projectName}}</div>
    <button class="sidebutton" (click)="navigateToBacklog()">BACKLOG</button>
    <button class="sidebutton" (click)="navigateToIssues()">ISSUES</button>
    <button class="sidebutton" (click)="navigateToSprint()">SPRINT </button>
    <button class="sidebutton" (click)="navigateToEpics()">EPICS </button>
    <button class="ActiveSidebutton" (click)="navigateToMembers()">MEMBERS</button>
    <div class="sideprojectsButton" (click)="navigateToProjects()"> PROJECTS </div>
</div>

<div class="rectangle1">
    <div class="rectangle2">
        <div class="circle">
            <div class="nameSymbol">
                {{memberdetails.firstName!.toUpperCase()[0]}}{{memberdetails.LastName!.toUpperCase()[0]}}</div>
        </div>
        <div class="userName"> {{memberdetails.firstName!.toUpperCase()}} {{memberdetails.LastName!.toUpperCase()}}
        </div>
    </div>
    <div class="rectangle3">
        ABOUT
    </div>
    <div style="margin-top: 25vh;" class="rectangle4">
        TITLE
    </div>
    <div style="margin-top: 35vh;" class="rectangle4">
        Email
    </div>
    <div style="margin-top: 25vh;" class="rectangle5">
        {{memberdetails.title}}
    </div>
    <div style="margin-top: 35vh;" class="rectangle5">
        {{memberdetails.Email}}
    </div>
    <div style="margin-left: 60vh;">
        <input type="submit" value="Remove Member" (click)="removemember()">
    </div>
</div>


