
  <body>
    <img src="background.png" alt="Background" width="1000" height="300">
    <div class="center">
      <p style="font-size: 48px" >RESET PASSWORD</p>
      <form method="post">
        <div class="txt_field">
          <h1 style="font-size:32px" >Email</h1>
          <input type="text" required>
        </div>
        
         <!-- go back to login page-->
        <input routerLink="" type="submit" value="BACK">
        
          <span>
            <input type="submit" value="RESET">
          </span>
      </form>
    </div>
  </body>