  <body>
    <div class="center">
      <p style="font-size: 48px" >RESET PASSWORD</p>
      <form [formGroup]="fgmForm" method="post">
        <div class="txt_field">
          <h1 style="font-size:32px" >Email</h1>
          <input type="text" [formControlName]="'email'" class="form-control" required >
        </div>

         <!-- go back to login page-->
        <input routerLink="" type="submit" value="BACK">
        
          <span>

            <input (click)="forgotpassword()" type="submit" value="RESET">

          </span>
      </form>
    </div>
  </body>