<div>
    <div class="sidenav">
        <div class="sideProjectName" >{{projectName}}</div>
        <button class="sidebutton" (click)="navigateToBacklog()">BACKLOG</button>
        <button class="sidebutton" (click)="navigateToIssues()">ISSUES</button>
        <button class="sidebutton" (click)="navigateToSprint()">SPRINT </button>
        <button class="ActiveSidebutton" (click)="navigateToEpics()">EPICS </button>
        <button class="sidebutton" (click)="navigateToMembers()">MEMBERS</button>
        <div class="sideprojectsButton" (click)="navigateToProjects()"> PROJECTS </div>
    </div>

    <div class="rectangle1">

        <div class="rectangle3">
            Details
        </div>
        <div style="margin-top: 20vh;" class="rectangle4">
            TITLE
        </div>
        <div style="margin-top: 28vh;" class="rectangle4">
            Description
        </div>
        <div style="margin-top: 36vh;" class="rectangle4">
            Man Hour
        </div>
        <div style="margin-top: 44vh;" class="rectangle4">
            Assigned to
        </div>
        <div style="margin-top: 52vh;" class="rectangle4">
            Due
        </div>   
        <form [formGroup]="createEpicForm">
            <input  type="text" [formControlName]="'title'" style="margin-top: 20vh;" class="rectangle5" required>
            <input  type="text" [formControlName]="'des'" style="margin-top: 28vh;" class="rectangle5" required>
            <input  type="text" [formControlName]="'manHour'" style="margin-top: 36vh;" class="rectangle5" required>
            <select  [formControlName]="'assignedTo'"  style="margin-top: 44vh;" class="rectangle5">
                <option [value] = "null" >No one</option>
                <option *ngFor="let item of members" [value] = "item.email" >{{item.first_name}}  {{item.last_name}}</option>
            </select>
            <input  type="date" [formControlName]="'due'" style="margin-top: 52vh;" class="rectangle5" required>
        </form>
        <div style="margin-left: 68vh;">
            <input type="submit" value="SUBMIT" (click)="createEpic()">
        </div>
    </div>


</div>