
  <h3 class="projects-title"> Projects</h3>
  <div class = "project-list-container">

       <div *ngFor="let project of projects"  class="rectangle" >
        <div (click)="deleteProject(project.second)" class="remove-button">X</div>
        <div class="square" (click)="navigateToBacklog(project.second,project.first)"></div>
        <span></span>
        <span>
        <div class="txt_field">
          <h1 style="font-size:32px">{{project.first}}</h1>
        </div>
        </span>
        <input routerLink="" type="submit" value="id :{{project.second}}" >
        <span></span>
        </div>
        <div (click)="navigateToCreateProject()"  class="rectangle">
          <span></span>
          <span>
  
          <div class="txt_field">
            <h1 style="font-size:32px">CREATE NEW PROJECT</h1>
  
          </div>
        </span>
          <div class="txt_field">
              <h5 style="font-size:128px">+</h5>
  
            </div>
          <span></span>
          </div>
  </div>


