
  <h3 class="projects-title"> Projects</h3>
  <div class = "project-list-container">

       <div *ngFor="let item in projects"  class="rectangle">
        <div (click)="deleteProject(item.id)" class="remove-button">X</div>
        <div class="square"></div>
        <span></span>
        <span>
        <div class="txt_field">
          <h1 style="font-size:32px">Ghost Busters</h1>
        </div>
        </span>
        <input routerLink="" type="submit" value="id :">
        <span></span>
        </div>
        <div (click)="navigateToBacklog('123123','GhostBusters')"  class="rectangle">
          <div  class="remove-button">X</div>
          <div class="square"></div>
          <span></span>
          <span>
          <div class="txt_field">
            <h1 style="font-size:32px">Ghost Busters</h1>
          </div>
          </span>
          <input routerLink="" type="submit" value="id :">
          <span></span>
          </div>
        <div (click)="navigateToCreateProject()"  class="rectangle">
          <span></span>
          <span>
  
          <div class="txt_field">
            <h1 style="font-size:32px">CREATE NEW PROJECT</h1>
  
          </div>
        </span>
          <div class="txt_field">
              <h5 style="font-size:128px">+</h5>
  
            </div>
          <span></span>
          </div>
  </div>


