<body>
    
    <img src="../../../../assets/imgs/background.png" alt="Background" width="1000" height="300">
    <div class="center">
        
        <h6 style="font-size: 48px">PROJECTS</h6>
        <div class="rectangle">
        <div class="square"></div>
        <span></span>
        <span>
        <!--  Email field  -->
        <div class="txt_field">
          <h1 style="font-size:32px">Ghost Busters</h1>
        
        </div>
        </span>

  
        <!--  forgot my Password btn  -->
  
        <!--  signup btn  -->
        <input routerLink="signup" type="submit" value="7 members">
        <span></span>
        </div>
        
    <div>
        <div class="rectangle">
        <span></span>
        <span>
        <!--  Email field  -->
        <div class="txt_field">
          <h1 style="font-size:32px">CREATE NEW PROJECT</h1>
        
        </div>
        </span>

  
        <!--  forgot my Password btn  -->
  
        <!--  signup btn  -->
        <div class="txt_field">
            <h5 style="font-size:128px">+</h5>
          
          </div>
        <span></span>
        </div>
    </div>
    </div>

    </body>

