


<div class="page">
    <div class="sidenav">
        <div class="sideProjectName" >{{projectName}}</div>
        <button class="sidebutton" (click)="navigateToBacklog()">B A C K L O G</button>
        <button class="sidebutton" (click)="navigateToIssues()">I S S U E S</button>
        <button class="ActiveSidebutton" (click)="navigateToSprint()">S P R I N T </button>
        <button class="sidebutton" (click)="navigateToEpics()">E P I C S </button>
        <button class="sidebutton" (click)="navigateToMembers()">M E M B E R S</button>
        <div class="sideprojectsButton" (click)="navigateToProjects()"> PROJECTS </div>
      </div>
    <div class="example-container">
        <div class="title">To do</div>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[inprogressList,doneList]" class="example-list"
            (cdkDropListDropped)="drop($event)" id='root'>
            <div class="example-box" *ngFor="let item of todo" cdkDrag>
                <div class="issueId">{{item.title}}</div><span></span>
                <div class="issueDes">{{item.description}}</div>
            </div>
        </div>
    </div>

    <div class="example-container">
        <div class="title">In progress</div>
        <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[doneList,todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
                <div class="issueId">{{item.title}}</div><span></span>
                <div class="issueDes">{{item.description}}</div>
            </div>
        </div>
    </div>
    <div class="example-container">
        <div class="title">Done</div>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[inprogressList,todoList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>
                <div class="issueId">{{item.title}}</div><span></span>
                <div class="issueDes">{{item.description}}</div>
            </div>

        </div>

    </div>

</div>