@import url(https://fonts.googleapis.com/css?family=Share);

.page {
    width: 90vw;
    height: 100vh;
    padding-left: 20vw;
    padding-top: 7vh;
}



.sidenav {
    height: 100%;
    width: 12vw;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 0;
    left: 0;
    background-color: rgba(143, 206, 233 , .5);
    overflow-x: hidden;
    backdrop-filter: blur(2px);
    border-style: solid;
    border-width: 4px;
    border-color: #22597D;
    margin-top: 55px;
}
.sidebutton:hover {
  background-color: #22597D;
}
.sideProjectName{
  background-color: #269531;
  height: 5vh;
  text-align: center;
  margin-bottom: 3vh;
  font-size: 30px;
  color: white;
  font-family: 'share';
}

.sideprojectsButton{
  background-color: #22597D;
  cursor: pointer;
  height: 5vh;
  text-align: center;
  margin-bottom: 3vh;
  font-size: 30px;
  color: white;
  font-family: 'share';
  margin-top: 47vh;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

.sidebutton {
    font-family: 'share';
    width: 200px;
    height: 52px;
    border-color: #22597D;
    border-radius: 36px;
    border-width: 5px;
    background-color: #8FCEE9;
    text-decoration: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 20px;
    text-shadow: black;
    -webkit-text-stroke-width: 1px;
}

.ActiveSidebutton {
    width: 200px;
    color: white;
    font-family: 'share';
    height: 52px;
    border-color: #22597D;
    border-radius: 36px;
    border-width: 5px;
    background-color: #22597D;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 20px;
    -webkit-text-stroke-width: 1px;
}


.title {
    width: inherit;
    background: #22597D;
    border-radius: 18px;
    font-family: 'Share';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;

}


.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    background: #8FCEE9;
    border: solid 1px #ccc;
    min-height: 60px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #22597D;
    border-radius: 18px;
    display: block;
}

.example-box {
    background: #22597D;
    border-radius: 18px;
    font-family: 'Share';
    font-style: normal;
    font-weight: 700;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color:white;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
  
}
.issueId{
    font-size: 30px;
    margin-bottom: 12px;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}