<div class="login-page">
  <img src="../../../../assets/imgs/background.png" alt="Background" width="1000" height="300">
  <div class="center">
    <p style="font-size: 48px">LOG IN</p>
    <form [formGroup]="loginForm" (ngsubmit)="login() " class="login-form">

      <!--  Email field  -->
      <div class="txt_field">
        <h1 style="font-size:32px">Email</h1>
        <input type="text" [formControlName]="'username'" class="form-control" required>
      </div>
      <!--  Password field  -->
      <div class="txt_field">
        <h1 style="font-size:32px">Password</h1>
        <input type="password" [formControlName]="'password'" class="form-control" id="password" required>
      </div>

      <!--  forgot my Password btn  -->
      <h2 routerLink="forgot-my-password" style="font-size:18px; cursor: pointer">FORGOT MY PASSWORD</h2>

      <!--  signup btn  -->
      <input routerLink="signup" type="submit" value="SIGN UP">
      <span></span>

      <!-- login btn -->
      <input (click)="login()" type="submit" value="CONTINUE">
    </form>
  </div>