<div class="login-page">

    <div class="center">
      <p style="font-size: 48px" >LOG IN</p>
      <form [formGroup]="loginForm" (ngsubmit)="login() " class="login-form" >

        <div class="txt_field">
          <h1 style="font-size:32px" >Email</h1>
          <input type="text" [formControlName]="'username'" class="form-control" required>
        </div>

        <div class = "txt_field">
          <h1 style = "font-size:32px" >Password</h1>
          <input type="password" [formControlName]="'password'" class="form-control"  id="password" required>
        </div>

           <h2 routerLink="forgot-my-password" style = "font-size:18px">FORGOT MY PASSWORD</h2>

           <input routerLink="signup" type="submit" value="SIGN UP">
           <span></span>
           <input (click)="login()" type="submit" value="CONTINUE"> 
      </form>
    </div>
</div>

