
  <body>
    <div class="center">
      <p style="font-size: 48px" >SIGN UP</p>


      <form [formGroup]="signupForm" (ngsubmit)="signup() " class="login-form" >

        <!--    Name and surname   -->
        <div class="txt_field">
          <h1 style="font-size:32px" > first Name</h1>
          <input type="text" [formControlName]="'firstName'" class="form-control" required >
        </div>
        <div class="txt_field">
          <h1 style="font-size:32px" > last Name</h1>
          <input type="text" [formControlName]="'lastName'" class="form-control" required >
        </div>

        <!--    Email   -->
        <div class="txt_field">
          <h1 style="font-size:32px" >Email</h1>
          <input  type="text" [formControlName]="'email'" class="form-control" required>
        </div>
        

        <!--    password   -->
        <div class = "txt_field">
          <h1 style = "font-size:32px" >Password</h1>
          <input type="password"  [formControlName]="'password'" required>
        </div>

        <!--    password Confirm   -->
        <div class = "txt_field">
          <h1 style = "font-size:32px" >Confirm Password</h1>
          <input type="password"  [formControlName]="'passwordConfirm'"   required>
        </div>

        <!--     Signin btn     -->
        <input routerLink="" type="submit" value="LOG IN">
          <span>
        <!--     Signup btn     -->
        <input (click)="signup()" type="submit" value="SIGN UP">
          </span>


        <!-- Password not equal Erorr message -->
        <div class="Erorr" [style.visibility]="pnqvisibility" >
          Passwords are not equal!
        </div>

        <!-- empty field Error message -->
        <div class="Erorr" [style.visibility]="efvisibility" >
          There is at least one Empty field in the form!
        </div>

        <!-- general Error message -->
        <div class="Erorr" [style.visibility]="gvisibility" >
          Registration Failed! Please try again
        </div>


      </form>


    </div>
  </body>
