<div class="signup-page">
    <div class="form">
      <form>
        <lottie-player
          src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
          background="transparent"
          speed="1"
          style="justify-content: center"
          loop
          autoplay
        ></lottie-player>
        <input type="text" placeholder="full name" />
        <input type="text" placeholder="email address" />
        <input type="text" placeholder="pick a username" />
        <input type="password" id="password" placeholder="set a password" />
        
        <br>
        <br>
      </form>

      <form class="login-form">
        <button type="button" onclick="window.location.href='login.html'">
          SIGN UP
        </button>
        <div>Already have an account? <a class="link-light" routerLink="" routerLinkActive="router-link-active">Sign in!</a></div>
      </form>
    </div>
  </div>