<div class="page">
    <div class="sidenav">
        <div class="sideProjectName" >{{projectName}}</div>
        <button class="ActiveSidebutton" (click)="navigateToBacklog()">BACKLOG</button>
        <button class="sidebutton" (click)="navigateToIssues()">ISSUES</button>
        <button class="sidebutton" (click)="navigateToSprint()">SPRINT </button>
        <button class="sidebutton" (click)="navigateToEpics()">EPICS </button>
        <button class="sidebutton" (click)="navigateToMembers()">MEMBERS</button>
        <div class="sideprojectsButton" (click)="navigateToProjects()"> PROJECTS </div>
    </div>

    <div class="box-container1">
        <div class="header">
            <div class="title">ACTIVE SPRINT</div>
            <div class="delete-sprint" (click)="finishSprint()">Finish</div>
        </div>
        <div cdkDropList #activeList="cdkDropList" [cdkDropListData]="activeSprint"
            [cdkDropListConnectedTo]="[nextList,blList]" class="rectangle1" (cdkDropListDropped)="drop($event)">
            <div class="issue-box" *ngFor="let item of activeSprint" cdkDrag>
                <div style="float: left; margin-left: 10px;">{{item.id}}</div>{{item.description}}
            </div>
        </div>
    </div>

    <div class="box-container2">
        <div class="title">NEXT SPRINT</div>
        <div cdkDropList #nextList="cdkDropList" [cdkDropListData]="nextSprint"
            [cdkDropListConnectedTo]="[activeList,blList]" class="rectangle2" (cdkDropListDropped)="drop($event)">
            <div class="issue-box" *ngFor="let item of nextSprint" cdkDrag>
                <div style="float: left; margin-left: 10px;">{{item.id}}</div>{{item.description}}
            </div>
        </div>
    </div>
    <div class="box-container3">
        <div style="background-color: #22597D ;" class="title">BACKLOG</div>
        <div cdkDropList #blList="cdkDropList" [cdkDropListData]="Backlog"
            [cdkDropListConnectedTo]="[activeList,nextList]" class="rectangle3" (cdkDropListDropped)="drop($event)">
            <div class="issue-box" *ngFor="let item of Backlog" cdkDrag>
                <div style="float: left; margin-left: 10px;">{{item.id}}</div>{{item.description}}
            </div>

        </div>

    </div>

</div>