<div class="page">
    <div class="sidenav">
        <button  class="sidebutton">B A C K L O G</button>
        <button (click)="navigateToIssues()" class="sidebutton">I S S U E S</button>
        <button (click)="navigateToActiveSprint()" class="ActiveSidebutton">S P R I N T </button>
        <button (click)="navigateToMembers()" class="sidebutton">M E M B E R S</button>
    </div>
    <div class="box-container1">
        <div class="header">
            <div class="title">ACTIVE SPRINT</div>
            <div class="delete-sprint">Delete</div>
        </div>
        <div cdkDropList #activeList="cdkDropList" [cdkDropListData]="activeSprint"
            [cdkDropListConnectedTo]="[nextList,blList]" class="rectangle1" (cdkDropListDropped)="drop($event)">
            <div class="issue-box" *ngFor="let item of activeSprint" cdkDrag>
                <div style="float: left; margin-left: 10px;">{{item.id}}</div>{{item.des}}
            </div>
        </div>
    </div>

    <div class="box-container2">
        <div class="title">NEXT SPRINT</div>
        <div cdkDropList #nextList="cdkDropList" [cdkDropListData]="nextSprint"
            [cdkDropListConnectedTo]="[activeList,blList]" class="rectangle2" (cdkDropListDropped)="drop($event)">
            <div class="issue-box" *ngFor="let item of nextSprint" cdkDrag>
                <div style="float: left; margin-left: 10px;">{{item.id}}</div>{{item.des}}
            </div>
        </div>
    </div>
    <div class="box-container3">
        <div style="background-color: #22597D ;" class="title">BACKLOG</div>
        <div cdkDropList #blList="cdkDropList" [cdkDropListData]="Backlog"
            [cdkDropListConnectedTo]="[activeList,nextList]" class="rectangle3" (cdkDropListDropped)="drop($event)">
            <div class="issue-box" *ngFor="let item of Backlog" cdkDrag>
            </div>

        </div>

    </div>

</div>