@import url(https://fonts.googleapis.com/css?family=Share);


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #22597D;
  border-radius: 10px;
}

.container {
  position: relative;
}

.center {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  width: 440px;
  height: 415px;
  background-color: rgb(144, 206, 233);
  border-radius: 18px;
  border-width: 5px;
  border-color: #22597D;
  border-style: solid;

}

.sidenav {
  height: 100%;
  width: 12vw;
  position: fixed;
  z-index: 1;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(143, 206, 233 , .5);
  overflow-x: hidden;
  backdrop-filter: blur(2px);
  border-style: solid;
  border-width: 4px;
  border-color: #22597D;
  margin-top: 55px;
}
.sidebutton:hover {
background-color: #22597D;
}
.sideProjectName{
background-color: #269531;
height: 5vh;
text-align: center;
margin-bottom: 3vh;
font-size: 30px;
color: white;
font-family: 'share';
}

.sideprojectsButton{
background-color: #22597D;
cursor: pointer;
height: 5vh;
text-align: center;
margin-bottom: 3vh;
font-size: 30px;
color: white;
font-family: 'share';
margin-top: 40vh;
}

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
}

.sidebutton {
  font-family: 'share';
  width: 200px;
  height: 52px;
  border-color: #22597D;
  border-radius: 36px;
  border-width: 5px;
  background-color: #8FCEE9;
  text-decoration: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  margin-bottom: 20px;
  text-shadow: black;
  -webkit-text-stroke-width: 1px;
}

.ActiveSidebutton {
  width: 200px;
  color: white;
  font-family: 'share';
  height: 52px;
  border-color: #22597D;
  border-radius: 36px;
  border-width: 5px;
  background-color: #22597D;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  margin-bottom: 20px;
  -webkit-text-stroke-width: 1px;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    align-items: center;
  }
  .sidenav a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



.button {
  width: 200px;
  height: 52px;
  border-color: #22597D;
  border-radius: 36px;
  border-width: 5px;
  background-color: #8FCEE9;
  text-decoration: bold;
  text-align: center;
  font-family: 'Share';
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-shadow: black;
  -webkit-text-stroke-width: 2px;
}

.button button1 {
  top: 0;
  margin-left: 350px;
  background-color: #269531;


}
.box-container1 {
  margin-top: 20px;
  width: 40vw;
  height: 35vh;
  margin-left: 250px;
  
}
.title1 {
  margin: 0;
  border: 2px solid #22597D;
  background: #269531;
  border-radius: 18px;
  font-family: 'Share';
  padding: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.title {
  display: inline-block;
  border: 2px solid #22597D;
  width: 13vw;
  background: #269531;
  border-radius: 18px;
  font-family: 'Share';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.delete-sprint {
  cursor: pointer;
  display: inline-block;
  float: right;
  border: 2px solid #22597D;
  width: 5vw;
  background: #B91313;
  border-radius: 18px;
  font-family: 'Share';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.rectangle1 {
  text-align: center;
  overflow:hidden;
  overflow-y:scroll;
  height: 35vh;
  background: rgba(144, 206, 233, .5);
  backdrop-filter: blur(2px);
  border: solid;
  border-color: #22597D;
  border-width: 4px;
}

.issue-box {
  cursor: move;
  padding: 7px;
  border: 1px solid #22597D;
  background: rgba(144, 206, 233, .5);
  font-family: 'Share';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.box-container2 {
  float: left;
  margin-top: 70px;
  width: 40vw;
  height: 20vh;
  margin-left: 250px;
  text-align: center;
}
.rectangle2 {
  overflow:hidden;
  overflow-y:scroll;
  top: 0;
  height: 30vh;
  background: rgba(144, 206, 233, .5);
  backdrop-filter: blur(2px);
  border: solid;
  border-color: #22597D;
  border-width: 4px;
}

.box-container3 {
  position: absolute;
  right: 15px;
  top: 80px;
  float: right;
  width: 40vw;
  height: 70vh;
  text-align: center;
}

.rectangle3 {
  overflow:hidden;
  overflow-y:scroll;
  height: 70vh;
  background: rgba(144, 206, 233, .5);
  backdrop-filter: blur(2px);
  border: solid;
  border-color: #22597D;
  border-width: 4px;
}
